@use 'variables';

.form-header {
  font-weight: variables.$auth-form-header-weight;
  text-align: center;
  margin-bottom: variables.$auth-form-header-margin;
  color: var(--mat-sys-on-surface);
  font-size: variables.$auth-form-header-size;

  @include variables.mobile-only {
    margin-top: 0;
  }
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: variables.$auth-container-min-height;
  background-color: var(--mat-sys-surface);
  position: relative;

  @include variables.mobile-only {
    align-items: flex-start;
    width: 100%;
  }
}

.register-card {
  width: 100%;
  max-width: variables.$auth-card-max-width;
}

.mat-mdc-form-field-error {
  translate: -16px -2px;
  width: calc(100% + 32px);
}

form {
  display: flex;
  flex-direction: column;

  button[type='submit'] {
    margin-top: 0.25rem;
    min-width: variables.$auth-submit-button-min-width;
    width: auto;
    align-self: center;

    &:not(:disabled),
    &:disabled {
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }
  }
}

.form-field {
  display: flex;
  flex-direction: column;

  label {
    font: var(--mat-sys-body-small);
    color: var(--mat-sys-on-surface);
  }

  mat-form-field {
    width: 100%;
  }
}
