@use 'variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 100;
}

.desktop-only {
  display: block;

  @include variables.mobile-only {
    display: none;
  }
}

.back-button-desktop {
  display: flex;
  position: fixed;
  top: calc(
    variables.$navbar-logo-height + variables.$navbar-padding-vertical +
      variables.$auth-back-button-top
  );
  left: variables.$auth-back-button-left;
  color: var(--mat-sys-on-surface);
  width: variables.$auth-back-button-size;
  height: variables.$auth-back-button-size;
  z-index: 100;

  mat-icon {
    font-size: variables.$auth-back-button-icon-size;
    width: variables.$auth-back-button-icon-size;
    height: variables.$auth-back-button-icon-size;
  }

  @include variables.mobile-only {
    display: none;
  }
}

.mobile-header {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: var(--mat-sys-surface);

  @include variables.mobile-only {
    display: flex;
  }
}

.back-button-mobile {
  position: absolute;
  top: variables.$auth-back-button-mobile-top;
  left: variables.$auth-back-button-mobile-left;
  color: var(--mat-sys-on-surface);
  width: variables.$auth-back-button-size;
  height: variables.$auth-back-button-size;

  mat-icon {
    font-size: variables.$auth-back-button-icon-size;
    width: variables.$auth-back-button-icon-size;
    height: variables.$auth-back-button-icon-size;
  }
}

.mobile-logo {
  width: 85vw;
  max-width: variables.$logo-img-width;
  margin-top: variables.$auth-mobile-logo-margin-top;
  margin-bottom: 0;
}
