DB_URL=jdbc:mysql://localhost:3306/mdd?serverTimezone=UTC
DB_USERNAME=mdd_user
DB_PASSWORD=mdd_password
JPA_DDL_AUTO=validate
JPA_SHOW_SQL=false
CORS_ALLOWED_ORIGINS=http://localhost:4200
JWT_SECRET=d956d6ca1194b4935b10488c006f214d85a8997844c11fc09b46d8ec636b8f11
JWT_EXPIRATION=86400000