@use '../../../variables';

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.logo {
  width: 70vw;
  max-width: 695px;
  height: auto;
  position: absolute;
  top: 20vh;
  transform: translateY(-50%);

  @media (min-width: variables.$breakpoint-tablet) {
    width: 50vw;
    top: 33.33vh;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);

  @media (min-width: variables.$breakpoint-tablet) {
    flex-direction: row;
    gap: 60px;
    top: 66.66vh;
    transform: translateY(-100%);
  }

  button {
    min-width: 200px;
    border-color: #000;

    @media (min-width: variables.$breakpoint-tablet) {
      min-width: 150px;
    }
  }
}
